{% extends 'portfolio/base.html' %}

{% block content %}
<h2>Login</h2>

{% if erro %}
    <p style="color:red;">{{ erro }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <p>
        <label>Username:</label><br>
        <input type="text" name="username">
    </p>
    <p>
        <label>Password:</label><br>
        <input type="password" name="password">
    </p>
    <button type="submit">Entrar</button>
</form>

<hr>
<p>Preferes entrar sem password? <a href="{% url 'magic_link' %}">Usar link mágico</a></p>
<p>Não tens conta? <a href="{% url 'registo' %}">Regista-te aqui</a></p>
{% endblock %}